<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="row text-center">
      <h2 class="title">Contact US</h2>
      <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <p>We’d love to hear from you. Have any enquiries or suggestion? Drop us your message below and we will be in touch</p>
        <ul class="list-unstyled contact-details">
          <li><i class="fa fa-envelope"></i><a href="mailto:<%= ENV["EMAIL"] %>"><%= ENV["EMAIL"] %></a></li>
          <li><i class="fa fa-phone-square"></i><%= ENV["PHONE"] %></li>
        </ul>
      </div>
    </div><!--//row-->
    <div class="row text-center">
      <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <%= render 'shared/alert' %>
        <%= form_tag(contact_path, class: "form") do %>
            <div class="form-group name">
              <label class="sr-only" for="name">Name</label>
              <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name: "%>
            </div><!--//form-group-->

            <div class="form-group email">
              <label class="sr-only" for="email">Email</label>
              <%= text_field_tag :email, nil,  class: "form-control", placeholder: "Email: " %>
            </div><!--//form-group-->

            <div class="form-group message">
              <label class="sr-only" for="message">Message</label>
              <%= text_area_tag :message, nil, class: "form-control", rows: 6, placeholder: "Message: " %>
            </div><!--//form-group-->

            <%= submit_tag "Send Message", class: "btn btn-lg btn-theme" %>
        <% end %>
      </div><!--//contact-form-->
    </div><!--//row-->
    <div class="text-center">
      <ul class="social-icons list-inline">
        <li><a href="index.html#" ><i class="fa fa-twitter"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-facebook"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-linkedin"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-google-plus"></i></a></li>
      </ul><!--//social-icons-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//contact-->