<nav id="main-nav" class="main-nav navbar-right" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button><!--//nav-toggle-->
  </div><!--//navbar-header-->
  <div class="navbar-collapse collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <% if user_signed_in?  %>
          <% if controller_name == 'home' %>
              <li class="nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
              <li class="nav-item"><a class="scrollto" href="#features">How it works</a></li>
              <li class="nav-item"><a class="scrollto" href="#why">Why</a></li>
              <li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
              <li class="nav-item"><a class="scrollto" href="#contact">Contact</a></li>
    <% end %>

          <li class="dropdown">
            <%= link_to raw("Hi #{current_user.name.split(" ").first} <b class='caret'></b>"), '#', class: "dropdown-toggle",
                        "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation">
                <%= link_to raw('<i class="fa fa-user"></i> My Profile'),user_path(current_user), "tabindex" => "-1", "role" => "menuitem" %>
              </li>
              <li role="presentation">
                <%= link_to raw('<i class="fa fa-pencil"></i> Edit Profile'),edit_user_registration_path, "tabindex" => "-1", "role" => "menuitem" %>
                <%= link_to raw('<i class="fa fa-trophy"></i> Leaderboard'), leaderboard_index_path, "tabindex" => "-1", "role" => "menuitem" %>
                <% if admin_signed_in? %>
                    <%= link_to raw('<i class="fa fa-cogs"></i> Admin'), rails_admin_path, "tabindex" => "-1", "role" => "menuitem"  %>
                    <%= link_to raw('<i class="fa fa-dashboard"></i> Dashboard'), dashboard_index_path, "tabindex" => "-1", "role" => "menuitem"  %>

              <% end %>

              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to raw('<i class="fa fa-sign-out"></i> Logout'), destroy_user_session_path, method: :delete, "tabindex" => "-1", "role" => "menuitem" %>
              </li>
            </ul>
          </li>

      <% else %>
          <% if controller_name == 'home' %>
              <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
              <li class="nav-item"><a class="scrollto" href="#features">How it works</a></li>
              <li class="nav-item"><a class="scrollto" href="#why">Why</a></li>
              <li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
              <li class="nav-item"><a class="scrollto" href="#contact">Contacts</a></li>
              <li class="nav-item"><%= link_to "Leaderboard", leaderboard_index_path %></li>
          <% else %>
              <li class="nav-item">
                <%= link_to raw('<i class="fa fa-plus-square"></i> Sign Up'),  new_user_registration_path %></li>
              <li class="nav-item"> <%= link_to raw('<i class="fa fa-sign-in"></i> Log In'), new_user_session_path  %></li>
              <li class="nav-item"><%= link_to raw('<i class="fa fa-trophy"></i> Leaderboard'), leaderboard_index_path %></li></li>
          <% end %>
      <% end %>


    </ul><!--//nav-->
  </div><!--//navabr-collapse-->
</nav><!--//main-nav-->
